<!DOCTYPE html>
{% extends "base.html" %}

{% block content%}

{% if not request.user.is_authenticated %}

  <form method="post"> {% csrf_token %}
    <h2>Вход в систему</h2>

    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}

      {{ form.as_p }}
      <button style="display: block" type="submit">Вход</button>
  </form>
  <p>Еще нет аккаунта? <a href="/register">Зарегистрироваться</a>. </p>

{% else %}

  <p>Вы уже вошли в систему. Хотите <a href="/logout/">выйти</a>?</p>

{% endif %}

{% endblock content %}